.part-xs-2,
.part-xs-3,
.part-xs-4,
.part-xs-5,
.part-xs-6,
.part-sm-2,
.part-sm-3,
.part-sm-4,
.part-sm-5,
.part-sm-6,
.part-md-2,
.part-md-3,
.part-md-4,
.part-md-5,
.part-md-6,
.part-lg-2,
.part-lg-3,
.part-lg-4,
.part-lg-5,
.part-lg-6,
.part-xl-2,
.part-xl-3,
.part-xl-4,
.part-xl-5,
.part-xl-6 {
  margin-left: -7.5px;
  margin-right: -7.5px;
  @include clearfix;
  &.no-gutter {
    margin-left: 0;
    margin-right: 0;
    .item {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .item {
    position: relative;
    min-height: 1px;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

// @media (min-width: $screen-xs-min) {
.part-xs-1 {
  .item {
    width: 100%;
  }
}

.part-xs-2 {
  .item {
    width: 50%;
  }
}

.part-xs-3 {
  .item {
    width: 33.33333%;
  }
}

.part-xs-4 {
  .item {
    width: 25%;
  }
}

.part-xs-5 {
  .item {
    width: 20%;
  }
}

.part-xs-6 {
  .item {
    width: 16.66667%;
  }
}

// }
@media (min-width: $screen-sm-min) {
  .part-sm-1 {
    .item {
      width: 100%;
    }
  }
  .part-sm-2 {
    .item {
      width: 50%;
    }
  }
  .part-sm-3 {
    .item {
      width: 33.33333%;
    }
  }
  .part-sm-4 {
    .item {
      width: 25%;
    }
  }
  .part-sm-5 {
    .item {
      width: 20%;
    }
  }
  .part-sm-6 {
    .item {
      width: 16.66667%;
    }
  }
}

@media (min-width: $screen-md-min) {
  .part-md-1 {
    .item {
      width: 100%;
    }
  }
  .part-md-2 {
    .item {
      width: 50%;
    }
  }
  .part-md-3 {
    .item {
      width: 33.33333%;
    }
  }
  .part-md-4 {
    .item {
      width: 25%;
    }
  }
  .part-md-5 {
    .item {
      width: 20%;
    }
  }
  .part-md-6 {
    .item {
      width: 16.66667%;
    }
  }
}

@media (min-width: $screen-lg-min) {
  .part-lg-1 {
    .item {
      width: 100%;
    }
  }
  .part-lg-2 {
    .item {
      width: 50%;
    }
  }
  .part-lg-3 {
    .item {
      width: 33.33333%;
    }
  }
  .part-lg-4 {
    .item {
      width: 25%;
    }
  }
  .part-lg-5 {
    .item {
      width: 20%;
    }
  }
  .part-lg-6 {
    .item {
      width: 16.66667%;
    }
  }
}

@media (min-width: $screen-xl-min) {
  .part-xl-1 {
    .item {
      width: 100%;
    }
  }
  .part-xl-2 {
    .item {
      width: 50%;
    }
  }
  .part-xl-3 {
    .item {
      width: 33.33333%;
    }
  }
  .part-xl-4 {
    .item {
      width: 25%;
    }
  }
  .part-xl-5 {
    .item {
      width: 20%;
    }
  }
  .part-xl-6 {
    .item {
      width: 16.66667%;
    }
  }
}
