/**
 * [多行文字截断]
 * @param  $font-size     [字体大小]
 * @param  $line-height   [行距，小数]
 * @param  $lines-to-show [要显示多少行]
 */
@mixin text-line-clamp($font-size, $line-height, $lines-to-show) {
  display: block;
  display: -webkit-box;
  font-size: $font-size;
  line-height: $line-height;
  height: $font-size*$line-height*$lines-to-show;
  // max-height: $font-size*$line-height*$lines-to-show;
  // word-break: break-all !important;
  // word-wrap: break-word !important;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines-to-show;
  text-overflow: ellipsis;
  word-wrap:break-word;
  overflow: hidden;
}